{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <title>BackupConfig - NMS project</title>
  <style>
    .option-fields {
      display: none;
    }
  </style>
  <link rel="stylesheet" href="{% static 'nmsapp/css/page1.css' %}" />
</head>

<body>
  {% csrf_token %}
  <nav class="nav">
    <ul class="nav__list">
      <a href="home" class="nav__link">
        <i class="ri-dashboard-3-line"></i>
        <span class="nav__name">Tools</span>
      </a>

      <a href="page1" class="nav__link active-link">
        <i class="ri-account-box-line"></i>
        <span class="nav__name">Backup Config</span>
      </a>

      <a href="input" class="nav__link">
        <i class="ri-chat-upload-line"></i>
        <span class="nav__name">Input Scheduler</span>
      </a>

    </ul>

    <div class="nav__circle-1"></div>
    <div class="nav__circle-2"></div>

    <div class="nav__square-1"></div>
    <div class="nav__square-2"></div>
  </nav>
  <main class="table">
    <section class="table__header">
      <h1>Network Configuration Manager</h1>
      <div class="input-group">
        <input type="search" placeholder="Search Data...">
      </div>
    </section>
    <section class="table__body">
      <table>
        <thead>
          <tr>
            <th> Id <span class="icon-arrow">&UpArrow;</span></th>
            <th> Scheduler Type <span class="icon-arrow">&UpArrow;</span></th>
            <th> Job Name <span class="icon-arrow">&UpArrow;</span></th>
            <th> Frequency <span class="icon-arrow">&UpArrow;</span></th>
            <th> Owner <span class="icon-arrow">&UpArrow;</span></th>
            <th> Recent Status <span class="icon-arrow">&UpArrow;</span></th>
            <th> Action <span class="icon-arrow">&UpArrow;</span></th>
          </tr>
        </thead>
        <tbody>
          {% for sts in st %}

          <tr>
            <td> {{sts.id}} </td>
            <td>{{ sts.scheduler_type }}</td>
            <td>{{ sts.name }}</td>
            <td>{{ task_counts }}</td>
            <td>{{ sts.email_subject }}</td>
            <td>
              <div class="status-buttons">
                <a {% if sts.logs_data.0.task_id %}href="{% url 'taskpage' sts.logs_data.0.task_id %}" {% endif %}
                  name="task_id" value="{% if sts.logs_data.0 %}{{ sts.logs_data.0.task_id }}{% endif %}" id="task-1"
                  class="status {% if task_counts >= 1 %}delivered{% else %}pending{% endif %}">
                  <span class="nav__link">1</span>
                </a>

                <a {% if sts.logs_data.1.task_id %}href="{% url 'taskpage' sts.logs_data.1.task_id %}" {% endif %}
                  name="task_id" value="{% if sts.logs_data.1 %}{{sts.logs_data.1.task_id}}{% endif %} " id="task-2"
                  class="status {% if task_counts >= 2 %}delivered{% else %}pending{% endif %}"><span
                    class="nav__link">2</span>
                </a>
                <a {% if sts.logs_data.2.task_id %}href="{% url 'taskpage' sts.logs_data.2.task_id %}" {% endif %}
                  name="task_id" value="{% if sts.logs_data.2 %}{{sts.logs_data.2.task_id}}{% endif %} " id="task-3"
                  class="status {% if task_counts >= 3 %}delivered{% else %}pending{% endif %}"><span
                    class="nav__link">3</span>
                </a>
                <a {% if sts.logs_data.3.task_id %}href="{% url 'taskpage' sts.logs_data.3.task_id %}" {% endif %}
                  name="task_id" value="{% if sts.logs_data.3 %}{{sts.logs_data.3.task_id}}{% endif %} " id="task-4"
                  class="status {% if task_counts >= 4 %}delivered{% else %}pending{% endif %}"><span
                    class="nav__link">4</span>
                </a>
                <a {% if sts.logs_data.4.task_id %}href="{% url 'taskpage' sts.logs_data.4.task_id %}" {% endif %}
                  name="task_id" value="{% if sts.logs_data.4 %}{{sts.logs_data.4.task_id}}{% endif %} " id="task-5"
                  class="status {% if task_counts >= 5 %}delivered{% else %}pending{% endif %}"><span
                    class="nav__link">5</span>
                </a>
              </div>
            </td>
            <td>
              <div class="launcher-buttons">
                <form action="{% url 'page1' sts.scheduler_type %}" method="POST">
                  {% csrf_token %}
                  <button id="launcher-1" class="status-button delivered" type="submit" value="Submit"
                    onclick="showAlert('{{ message }}')">
                    <i class="ri-arrow-up-fill"></i>
                  </button>
                </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
</body>
<script>
  const message = '{{ message }}';

  // Display the message in an alert
  if (message) {
    alert(message);
  }
  function updateStatus(buttonId) {
    var button = document.getElementById(buttonId);
    button.classList.remove("pending"); // Remove the "pending" class
    button.classList.add("delivered"); // Add the "delivered" class
  }
  const search = document.querySelector('.input-group input'),
    table_rows = document.querySelectorAll('tbody tr'),
    table_headings = document.querySelectorAll('thead th');

  // 1. Searching for specific data of HTML table
  search.addEventListener('input', searchTable);

  function searchTable() {
    table_rows.forEach((row, i) => {
      let table_data = row.textContent.toLowerCase(),
        search_data = search.value.toLowerCase();

      row.classList.toggle('hide', table_data.indexOf(search_data) < 0);
      row.style.setProperty('--delay', i / 25 + 's');
    })

    document.querySelectorAll('tbody tr:not(.hide)').forEach((visible_row, i) => {
      visible_row.style.backgroundColor = (i % 2 == 0) ? 'transparent' : '#0000000b';
    });
  }

  // 2. Sorting | Ordering data of HTML table

  table_headings.forEach((head, i) => {
    let sort_asc = true;
    head.onclick = () => {
      table_headings.forEach(head => head.classList.remove('active'));
      head.classList.add('active');

      document.querySelectorAll('td').forEach(td => td.classList.remove('active'));
      table_rows.forEach(row => {
        row.querySelectorAll('td')[i].classList.add('active');
      })

      head.classList.toggle('asc', sort_asc);
      sort_asc = head.classList.contains('asc') ? false : true;

      sortTable(i, sort_asc);
    }
  })


  function sortTable(column, sort_asc) {
    [...table_rows].sort((a, b) => {
      let first_row = a.querySelectorAll('td')[column].textContent.toLowerCase(),
        second_row = b.querySelectorAll('td')[column].textContent.toLowerCase();

      return sort_asc ? (first_row < second_row ? 1 : -1) : (first_row < second_row ? -1 : 1);
    })
      .map(sorted_row => document.querySelector('tbody').appendChild(sorted_row));
  }
</script>

</html>